/*-------------------- nva bar button  --------------------*/
.nav-item .download-cv-btn {
    color: #fff;
    padding: 10px 20px;
}

/* --------------------- hero contacts button --------------------- */
.mm-hero-btn {
    display: inline-block;
    border: 1px solid #FD6E0A;
    transition: all 0.4s;
    padding: 10px 20px;
    position: relative;
    z-index: 1;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 600;
}

.mm-hero-btn::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transition: transform 0.5s;
    transform-origin: 0 0;
    transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
    z-index: -1;
}

.download-cv-btn {
    color: white;
}

.download-cv-btn:hover {
    color: #FD6E0A;
}

.download-cv-btn::before {
    transform: scaleX(1);
    background-color: #FD6E0A;
    border-radius: 5px;
}

.download-cv-btn:hover:before {
    transform: scaleX(0);
}

/* contact me btn  */
.contact-me-btn {
    /* color: white; */
    color: #FD6E0A;
}

.contact-me-btn:hover {
    color: #fff;
}

.contact-me-btn::before {
    transform: scaleX(0);
    background-color: #FD6E0A;
    border-radius: 5px;
    /* transition-timing-function: cubic-bezier(-0.5,-1.6, -0.4, -0.7); */
}

.contact-me-btn:hover:before {
    transform: scaleX(1);
}